
/* Browser Head */
.header-browser {
    background-clip: padding-box;
    background-color: #d1d3d4;
    border-radius: 5px 5px 0 0;
    display: block;
    height: 40px;
    padding: 15px;
    width: 100%;
}
.header-browser .button-browser {
    float: left;
    height: 10px;
    position: relative;
    width: 50px;
}
.header-browser .button-browser span {
    background-clip: padding-box;
    background-color: #c7c7c7;
    border-radius: 45px;
    display: block;
    height: 10px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 0;
    width: 10px;
}
.header-browser .button-browser span::after, .header-browser .button-browser span::before {
    background-clip: padding-box;
    background-color: #c7c7c7;
    border-radius: 45px;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    top: 0;
    width: 10px;
}
.header-browser .button-browser span::before {
    left: -20px;
}
.header-browser .button-browser span::after {
    right: -20px;
}
.header-browser .bar-browser {
    background-clip: padding-box;
    background-color: #c7c7c7;
    border-radius: 3px;
    display: block;
    height: 20px;
    margin-left: 70px;
    overflow: hidden;
    position: relative;
    top: -5px;
}
