<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-sm-8 ">
                <p>4schools.ie is a trading name of <a href="http://www.theexamcraftgroup.com">The Examcraft Group</a> and has been providing products which support student learning to Irish schools for over 25 years.</p>
                <!-- <a href="http://schoolbagsupport.wixsite.com/blog" class="btn btn-primary" target="_blank">What's New</a> -->
            </div>
            <div class="col-md-5 text-center hidden-xs">
                <img src="{{ "/img/the-examcraft-group-logo.png " | prepend: site.baseurl }}" alt="The Examcraft Group">
            </div>
        </div>
    </div>
</section>
