<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>Welcome to {{ site.title }}.  Our school is a happy, vibrant environment where children are enthused with a love of learning, where childhood is valued and where confidence, skills and knowledge are developed in our pupils to face the challenges of the 21st century.  We strive to develop our core values of respect, knowledge and responsibility in every facet of our pupil’s education.</p>

                <p>In our teaching, we aim to ensure that pupils of all abilities have the opportunity to fulfil their learning potential.Teachers energetically and creatively strive to provide a holistic education by guiding, nurturing and encouraging students.</p>

                <p>Our entire educational approach complements parents as they are their children’s primary and most influential educator.  Our teachers keep parents abreast of their children’s strengths, challenges, progress and goals. We invite you to look around our website to see for yourself!</p>

                <a href="#" class="btn btn-primary">Notices</a>
            </div>
        </div>
    </div>
</section>
