<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-sm-8 ">
                <p>Learning Data is a subsidiary of <a href="http://www.theexamcraftgroup.com">The Examcraft Group</a> and has been providing products which support student learning to Irish schools for over 25 years.</p>
                <p>Learning Data is a company run by teachers for teachers, in fact 50% of our workforce are qualified and experienced teachers. So we are first and foremost and education company working to provide solutions which will enhance the learning outcomes of young people and make the life of the teacher easier and more professionally rewarding. Our vision is to develop technology tools which will help students with self-management in a more personalised learning environment.</p>
                <a href="http://learningdata.ie/blog/" class="btn btn-primary">What's New</a>
            </div>
            <div class="col-md-5 text-center hidden-xs">
                <img src="{{ "/img/the-examcraft-group-logo.png " | prepend: site.baseurl }}" alt="The Examcraft Group">
            </div>
        </div>
    </div>
</section>
