<!-- Banner Footer Section -->
    <section id="banner-mkt">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-10">
                    <h3>Making the digital school a reality</h3>
                    <p>Book an online demo or a school visit today to see why teachers, students, and parents will love using Schoolbag to communicate and manage homework. Or <a href="/schoolbag/register" target="_blank"> try Schoolbag for free now!</a></p>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <a href="http://demo.learningdata.net/schoolbag/register" class="btn btn-xl btn-outline" target="_blank">Start using for free</a>
                </div>
            </div>
        </div>
    </section>
