<!-- Banner Footer Section -->
    <section id="banner-mkt">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h3>Be like most innovative Schools</h3>
                    <p>Try it free, see how teacher, parents and student will love this solution and count with all the support of School Bag team.</p>
                </div>
                <div class="col-lg-3 col-lg-offset-1">
                    <a href="#" class="btn btn-xl btn-outline">Start using for free</a>
                </div>
            </div>
        </div>
    </section>