<!-- Banner Footer Section -->
    <section id="banner-mkt" class="special-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-10">
                    <h3>Making the TY Portfolio a reality</h3>
                    <p>Book an online demo or a school visit today to see why students and teachers will love using TYP to communicate and share learning. Or <a href="/typ/register" target="_blank"> try TYP for free now!</a></p>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <a href="/typ/register" class="btn btn-xl btn-outline" target="_blank">Start using for free</a>
                </div>
            </div>
        </div>
    </section>
