<!-- Benefits Section -->
    <section id="benefits">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-heading">Benefits</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-2">
                    <img src="{{ "/img/benefits/framework.png" | prepend: site.baseurl }}">
                    <h4 class="benefits-heading">Framework for self-management</h4>
                    <p class="text-muted">The portfolio provides a framework for self-management in the self-directed TY learning environment.</p>
                </div>
                <div class="col-sm-2">
                    <img src="{{ "/img/benefits/comprehensive.png" | prepend: site.baseurl }}">
                    <h4 class="benefits-heading">Comprehensive record</h4>
                    <p class="text-muted">It supports all aspects of the TY curriculum and provides a comprehensive record of the personal efforts and achievements of each student.</p>
                </div>
                <div class="col-sm-2">
                    <img src="{{ "/img/benefits/portfolio.png" | prepend: site.baseurl }}">
                    <h4 class="benefits-heading">Portfolio work</h4>
                    <p class="text-muted">Students can share selected collections of work from different subjects with their subject teachers.</p>
                </div>
                <div class="col-sm-2">
                    <img src="{{ "/img/benefits/responsive.png" | prepend: site.baseurl }}">
                    <h4 class="benefits-heading">Mobile Responsive</h4>
                    <p class="text-muted">Students can update their portfolio on a phone, tablet or desktop device.</p>
                </div>
                <div class="col-sm-2">
                    <img src="{{ "/img/benefits/intuitive.png" | prepend: site.baseurl }}">
                    <h4 class="benefits-heading">Intuitive</h4>
                    <p class="text-muted">The intuitive and user friendly interface means that teachers and students adapt to the system quickly.</p>
                </div>
                <div class="col-sm-2">
                    <img src="{{ "/img/benefits/accessible.png" | prepend: site.baseurl }}">
                    <h4 class="benefits-heading">Permanently Accessible</h4>
                    <p class="text-muted">As the application is cloud based, files are permanently available once students have an internet connection.</p>
                </div>
            </div>
            <a id="support"></a>
        </div>
    </section>
