<!-- How it works Section -->
    <section id="calendar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Calendar</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <iframe class="calendar" src="https://calendar.google.com/calendar/embed?src=learningdata.ie_8kt7q6bhitg3bb675ovlopu6j4%40group.calendar.google.com&ctz=Europe/Dublin" width="100%" height="500" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </section>
