    <footer>
        <div class="footer-above">
            <div class="container">
                <div class="row">
                  <div class="col-sm-12 text-center">
                      <h2 class="section-heading white">Get in Touch</h2>
                  </div>
                    <div class="col-md-4 text-center">
                        <h5 class="media-heading"><i class="fa fa-map-marker" aria-hidden="true"></i> Location:</h5>
                        {% for address in site.address %}
                          {{ address.line }}<br>
                        {% endfor %}
                    </div>
                    <div class="col-md-4 text-center">
                        <h5 class="media-heading">
                          <i class="fa fa-phone" aria-hidden="true"></i> Phone:</h5 >
                          IE: (+353) (0) 1 8081494
                    </div>
                    <div class="col-md-4 text-center">
                      <h5 class="media-heading">
                        <i class="fa fa-envelope" aria-hidden="true"></i> Email:</h5>
                              typ@4schools.ie
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <p class="copyright text-left">
                          <img src="{{ "/img/footer/The-Examcraft-Group-Symbol-footer.png" | prepend: site.baseurl }}" alt="" />
                          Copyright &copy; 4Schools.ie Part of The Examcraft Group | Registration No: 362287
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            {% for network in site.social %}
                                <li>
                                    <a href="{{ network.url }}" target="_blank">
                                        <i class="fa fa-{{ network.title }}"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </footer>
