{% if page.layout == 'howitworks' %}
<nav class="navbar navbar-default navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/welcome">
                <img class="hidden-xs" src="{{ "/img/schoolbag-logo-dark.png " | prepend: site.baseurl }}" alt="{{site.title}}">
                <img class="visible-xs-inline" src="{{ "/img/schoolbag-logo-mobile.png" | prepend: site.baseurl }}" alt="{{site.title}}">
                <p class="hidden-xs">TY Portfolio</p>
            </a>
            <a class="login-mobile visible-xs-inline" href="/schoolbag/login">Login</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#howitworks">How it works</a>
                </li>
                <li>
                    <a href="{{ "#benefits" | prepend: site.baseurl }}">Benefits</a>
                </li>
                <li>
                    <a href="{{ "#support" | prepend: site.baseurl }}">Support</a>
                </li>
                <li>
                    <a href="{{ "#about" | prepend: site.baseurl }}">About</a>
                </li>
                <li>
                    <a href="{{ "#contact" | prepend: site.baseurl }}">Contact</a>
                </li>
                <li class="login hidden-xs">
                    <a href="/schoolbag/login">Login</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% else %}

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <img class="logo-light hidden-xs" src="{{ "/img/schoolbag-logo-light.png " | prepend: site.baseurl }}" alt="{{site.title}}">
                <img class="logo-dark hidden-xs" src="{{ "/img/schoolbag-logo-dark.png " | prepend: site.baseurl }}" alt="{{site.title}}">
                <p class="hidden-xs ty-portfolio">TY <br>Portfolio</p>
                <img class="visible-xs-inline" src="{{ "/img/schoolbag-logo-mobile.png " | prepend: site.baseurl }}" alt="{{site.title}}">
            </a>
            <a class="login-mobile visible-xs-inline" href="/schoolbag/login">Login</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#howitworks">How it works</a>
                </li>
                <li>
                    <a class="page-scroll" href="#benefits">Benefits</a>
                </li>
                <li>
                    <a class="page-scroll" href="#support">Support</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li class="login hidden-xs">
                    <a href="/schoolbag/login">Login</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% endif %}
