  <!-- Header -->
  <header>
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="intro-text text-left">
                      <div class="intro-lead-in">Welcome to Schoolbag</div>
                      <div class="intro-heading">Making the digital school a reality</div>
                      <a href="http://learningdata.ie/request-a-demo" target="_blank" class="page-scroll btn btn-xl">Request a demo</a>
                      <a href="#howitworks" class="page-scroll btn btn-xl">Tell Me More</a>
                  </div>
              </div>
          </div>

      </div>
  </header>
  <div class="clearfix"></div>
