<!-- How it works Section -->
    <section id="howitworks" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it Works</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-muted">Parents often complain that they’re not aware of the homework that their children have been assigned in school. They want to help them, but they don’t know how.</p>
                    <p class="text-muted">Schoolbag ensures that every night, parents know what homework has been assigned during each class period. As a result it significantly increases parental engagement with homework and allows them to support their children on an ongoing basis.</p>
                    <p class="text-muted">Additionally, it cuts down the workload of teachers and reduces photocopying costs in schools by allowing all teachers to share their learning resources electronically.</p>
                    <a href="howitworks/" class="btn btn-xl">See how it works</a>
                </div>
                <div class="col-sm-6">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/155366266?color=ff9933&title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
                </div>
            </div>
        </div>
    </section>
