<!-- Integrats with Section -->
    <section id="integrates" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Integrates with</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <img src="img/integrate/office-365.png" class="img-responsive">
                </div>
                <div class="col-md-2">
                    <img src="img/integrate/onedrive.png" class="img-responsive">
                </div>
                <div class="col-md-2">
                    <img src="img/integrate/onenote.png" class="img-responsive">
                </div>
                <div class="col-md-2">
                    <img src="img/integrate/active-directory.png" class="img-responsive">
                </div>
                <div class="col-md-2">
                    <img src="img/integrate/advanced-learning.png" class="img-responsive">
                </div>
                <div class="col-md-2">
                    <img src="img/integrate/vsware.png" class="img-responsive">
                </div>                                
            </div>
        </div>
    </section>