<!-- Integrats with Section -->
    <div id="integrates" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Integrates with</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-2">
                    <img src="{{ "/img/integrate/office-365.png" | prepend: site.baseurl }}" class="img-responsive">
                </div>
                <div class="col-xs-6 col-sm-2 col-sm-4">
                    <img src="{{ "/img/integrate/onedrive.png" | prepend: site.baseurl }}" class="img-responsive">
                </div>
                <div class="col-xs-6 col-sm-2 col-sm-4">
                    <img src="{{ "/img/integrate/onenote.png" | prepend: site.baseurl }}" class="img-responsive">
                </div>
                <div class="col-xs-6 col-sm-2 col-sm-4">
                    <img src="{{ "/img/integrate/active-directory.png" | prepend: site.baseurl }}" class="img-responsive">
                </div>
                <div class="col-xs-6 col-sm-2 col-sm-4">
                    <img src="{{ "/img/integrate/advanced-learning.png" | prepend: site.baseurl }}" class="img-responsive">
                </div>
                <div class="col-xs-6 col-sm-2 col-sm-4">
                    <img src="{{ "/img/integrate/vsware.png" | prepend: site.baseurl }}" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
