<div class="row">
    <div class="container">
      {% for post in site.posts %}

      <div class="media">
        <div class="media-left">
            {{ post.date | date: "%-d" }}
            {% assign m = post.date | date: "%B" %}
            {% case m %}
                {% else %}{{ post.date | date: "%b" }}
            {% endcase %}
            {{ post.date | date: "%-Y" }}
        </div>
        <div class="media-body">
            <h2>{{ post.title }}</h2>
            <p><small>{{ post.description }}</small></p>
            <article>
              {{ post.content }}
            </article>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
