<!-- Benefits Section -->
    <section id="notices">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-heading">Our school has three underlying principles:</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-4">
                    <img src="{{ "/img/benefits/benefits-communication.png" | prepend: site.baseurl }}">
                    <h4 class="benefits-heading">Parent-Teacher communication</h4>
                    <p class="text-muted">Schoolbag creates a daily link between school and the parent/guardian, thus ensuring that parents know where to support their children on a nightly basis.
</p>
                </div>
                <div class="col-sm-4">
                    <img src="{{ "/img/benefits/benefits-organisation.png" | prepend: site.baseurl }}">
                    <h4 class="benefits-heading">Student organisation</h4>
                    <p class="text-muted">Students are kept up to date on their homework requirements even if they are absent from class and can access all of their class notes and worksheets anywhere, anytime.</p>
                </div>
                <div class="col-sm-4">
                    <img src="{{ "/img/benefits/benefits-homework.png" | prepend: site.baseurl }}">
                    <h4 class="benefits-heading">Homework completion overview</h4>
                    <p class="text-muted">Any teacher can view some basic overarching homework completion statistics for any student in their class, giving teachers a ‘bigger picture’ of homework completion.</p>
                </div>
            </div>
        </div>
    </section>
