<!-- Benefits Section -->
    <section id="principles" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-heading">Our school has three underlying principles:</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-4">
                    <img src="{{ "/img/benefits/benefits-communication.png" | prepend: site.baseurl }}">
                    <h4 class="benefits-heading">Parent-Teacher communication</h4>
                    <p class="text-muted">parents are viewed as a positive resource for the school. Parental involvement is welcomed and encouraged, where appropriate. The professional role of the teacher is validated at all times.</p>
                </div>
                <div class="col-sm-4">
                    <img src="{{ "/img/benefits/benefits-organisation.png" | prepend: site.baseurl }}">
                    <h4 class="benefits-heading">Holistic education</h4>
                    <p class="text-muted">students are taught in a holistic approach designed to nurture their natural abilities and guide them towards excellence and success in all of their endeavours.</p>
                </div>
                <div class="col-sm-4">
                    <img src="{{ "/img/benefits/benefits-homework.png" | prepend: site.baseurl }}">
                    <h4 class="benefits-heading">Child-centred</h4>
                    <p class="text-muted">this applies not only to teaching and learning within the classroom but to all decisions at staff and management level, which must have the well-being of the children at their heart.</p>
                </div>
            </div>
        </div>
    </section>
