<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <img src="img/schools/arnhem-International.jpg" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-sm-3 col-sm-6">
                    <img src="img/schools/british-colege-la-canada.jpg" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-sm-3 col-sm-6">
                    <img src="img/schools/british-school-in-baku.jpg" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-sm-3 col-sm-6">
                    <img src="img/schools/byron-college.jpg" class="img-responsive img-centered" alt="">
                </div>
            </div>
        </div>
    </aside>
