<!-- Team Section -->
    <section id="staff">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Staff</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <div class="team-member">
                    <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                    <h4>Mr. Chris McLoughlin</h4>
                    <p class="text-muted">Principal</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                    <h4>Chris McLoughlin</h4>
                    <p class="text-muted">Deputy Principal</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-xs-12 col-sm-4">
                    <h3>Teachers:</h3>
                      <p>Ms. Geraldine McGee</p>
                      <p>Mrs. Aine Curley</p>
                      <p>Miss. Mary McGeady</p>
                      <p>Mr. Cian McLoughpn</p>
                      <p>Mr. Peter McNulty</p>
                      <p>Ms. Mairead McConnell</p>
                      <p>Ms. Liz McDaid</p>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                      <h3>School Secretary</h3>
                      <p>Mrs. Ann Morrow</p>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                      <h3>School Caretaker</h3>
                      <p>Mr. Lorcan Cotter</p>
                  </div>
                </div>
            </div>

        </div>
    </section>
