<!-- Support Section -->
    <section class="special-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-1 col-sm-10">
                    <h3>Do you need Help?</h3>
                    <p>Visit Schoolbag Support to learn how to set up a Schoolbag account and view helpful tips and tutorials for using Schoolbag as a teacher, student or parent.</p>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <a href="http://schoolbagsupport.wixsite.com/support" class="btn btn-xl btn-outline" target="_blank">Support</a>
                </div>
            </div>
        </div>
    </section>
