<!-- Section -->
<section id="homework-statistics">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="header-browser">
                    <div class="button-browser">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="bar-browser"></div>
                </div>
                <img class="img-responsive" src="{{ "/img/howitworks/screen-01.jpg" | prepend: site.baseurl }}" alt="" />
            </div>
            <div class="col-md-5">
                <h2 class="section-heading">Homework statistics</h2>
                <p>
                    Each student has a profile containing their homework completion statistics overall and for each subject. This profile shows how much homework is being set for the students and compares this with the amount recommended by the school, it also shows how
                    much homework is being handed in late, on time or not at all. any class teacher or SLT member can view this information to get a ‘big picture’ view of homework completion across all subjects and throughout the year.
                </p>
            </div>
        </div>
    </div>
</section>
