<!-- Section -->
<section id="managing-homework" class="bg-light-gray">
    <div class="container">
        <div class="col-md-12 text-center">
            <h2 class="section-heading">Integration</h2>
        </div>
        <div class="row ">
            <div class="col-md-7">
                <img class="" src="{{ "/img/howitworks/integration.jpg " | prepend: site.baseurl }}" alt="" />
            </div>
            <div class="row"></div>
            <div class="col-md-6">
                <h3>MIS Synchronisation</h3>
                <p>
                    For the best results we recommend setting up a Schoolbag account that is synchronised with the school’s MIS system; we will work with the school to set this up. The synchronisation means that all teacher, parent and student accounts for Schoolbag can
                    be created immediately from the data in the school’s MIS and will automatically add to each student and teacher accounts their classes, and a personal timetable. What’s more, any changes made to classes or teacher, student, or parent
                    information in the MIS will automatically be updated in Schoolbag within 24 hours.
                </p>
                <p>
                    <a href="#">Talk to us today</a> about setting up a synchronised account.
                </p>
            </div>
            <div class="col-md-6">
                <h3>Office 365 single sign-on</h3>
                <p>
                    To help reduce the number of logins required of teachers and students throughout the day, we’ve introduced Office 365 single sign-in. Schools who currently use Office 365 for Education can choose to integrate Schoolbag with their school’s Office 365 account,*
                    meaning that teachers and students only need one set of login details to login login to both Schoolbag and Office 365.
                </p>
                <p>
                    Don’t have Office 365 for Education in your school yet? <a href="#">Talk to us today!</a>
                </p>
                <p>
                    *NB: The school must have ownership of their Office 365 tenant to integrate Schoolbag with their Office 365 account. In some schools this may require the permission of the ETB or other managing body.
                </p>
            </div>
        </div>
    </div>
    </div>
</section>
