<!-- *** Section -->
    <section id="#">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it Works</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                  <div class="header-browser">
                    <div class="button-browser">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div class="bar-browser"></div>
                  </div>
                  <img class="img-responsive" src="/img/howitworks/screen-01.jpg" alt="" />
                </div>
                <div class="col-md-5">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur, risus ut varius fringilla, est lacus consequat nisl, vitae euismod ante dolor sed tortor. Phasellus accumsan diam et orci ultricies pellentesque. Sed gravida faucibus ex sit amet vulputate. Donec semper nisl at lacus interdum, at elementum mauris porta. Sed elementum purus at porta finibus. Sed tincidunt mattis lorem, vitae tempor arcu venenatis ut. Praesent vitae pharetra risus. Nulla at risus non massa pretium molestie. Maecenas ut rutrum odio, vitae consectetur mi. Curabitur nunc est, euismod non lorem in, interdum rhoncus neque. Morbi ultricies, est vitae iaculis tincidunt, mi est gravida tortor, non lacinia diam tellus at tortor.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="#" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur, risus ut varius fringilla, est lacus consequat nisl, vitae euismod ante dolor sed tortor. Phasellus accumsan diam et orci ultricies pellentesque. Sed gravida faucibus ex sit amet vulputate. Donec semper nisl at lacus interdum, at elementum mauris porta. Sed elementum purus at porta finibus. Sed tincidunt mattis lorem, vitae tempor arcu venenatis ut. Praesent vitae pharetra risus. Nulla at risus non massa pretium molestie. Maecenas ut rutrum odio, vitae consectetur mi. Curabitur nunc est, euismod non lorem in, interdum rhoncus neque. Morbi ultricies, est vitae iaculis tincidunt, mi est gravida tortor, non lacinia diam tellus at tortor.
                    </p>
                </div>
                <div class="col-md-7">
                  <div class="header-browser">
                    <div class="button-browser">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div class="bar-browser"></div>
                  </div>
                  <img class="img-responsive" src="/img/howitworks/screen-02.jpg" alt="" />
                </div>
            </div>
        </div>
    </section>
