<!-- Section -->
<section id="managing-homework" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-push-5">
              <div class="header-browser">
                  <div class="button-browser">
                      <span></span>
                      <span></span>
                      <span></span>
                  </div>
                  <div class="bar-browser"></div>
              </div>
                <img class="img-responsive" src="{{ "/img/howitworks/sharing-managing.jpg" | prepend: site.baseurl }}" alt="" />
            </div>
            <div class="col-md-5 col-md-pull-7">
                <h2 class="section-heading">Sharing and managing homework</h3>
                <p>
                  Teachers, students and parents can all see the homework that is relevant to them through Schoolbag. When a teacher creates a homework assignment for their class, or a small group in their class the homework is automatically sent to the students’ accounts and the accounts of their parents’. Teachers can mark homework in Schoolbag and provide feedback and comments for the student.
                </p>
            </div>

        </div>
    </div>
</section>
