<!-- Section -->
<section id="student-journal">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="header-browser">
                    <div class="button-browser">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="bar-browser"></div>
                </div>
                <img class="img-responsive" src="{{ "/img/howitworks/dashboard.jpg" | prepend: site.baseurl }}" alt="" />
            </div>
            <div class="col-md-5">
                <h2 class="section-heading">Schoolbag acts as an online student journal</h2>
                <p>
                    Students each have their own personalised timetable in Schoolbag and have access to homework, class resources, school policies and school notices, along with their own personal calendar.</p>
            </div>
        </div>
    </div>
</section>
